[submodule "yoga/upstream"]
	path = yoga/upstream
	url = https://github.com/facebook/yoga
[submodule "compose/upstream"]
	path = compose/upstream
	url = https://android.googlesource.com/platform/frameworks/support
	branch = androidx-master-dev
